<section>
    <% if (question.title) { %>
        <h2><%= question.title %></h2>
    <% } %>
    <img data-src="<%- question.image %>">
    <% if (question.caption) { %>
        <p class="caption"><%= question.caption %></p>
    <% } %>
    <% if (isAnswer) { %>
        <p class="answer"><%= question.answer %></p>
    <% } %>
    <% if (question.source) { %>
        <p class="source"><%= question.source %></p>
    <% } %>
</section>
