        <section>
            <%_ if (question.title) { -%>
                <h2><%= question.title %></h2>
            <%_ } -%>
                <img data-src="<%- question.image %>">
            <%_ if (question.caption) { -%>
                <p class="caption"><%= question.caption %></p>
            <%_ } -%>
            <%_ if (isAnswer) { -%>
                <p class="fragment answer"><%= question.answer %></p>
            <%_ } -%>
            <%_ if (question.source) { -%>
                <p class="source"><%= question.source %></p>
            <%_ } -%>
        </section>
