        <section data-category-number="<%= question.category_number %>" data-question-number="<%= question.question_number %>">
            <%_ if (question.title) { -%>
                <h2><%= question.title %></h2>
            <%_ } -%>
            <%_ if (isAnswer && Boolean(question.answer_image)) { -%>
                <img class="fragment fade-out r-stretch" data-fragment-index="1" data-src="<%- question.image %>">
                <img class="fragment r-stretch" data-fragment-index="1" data-src="<%- question.answer_image %>">
            <%_ } else { -%>
                <img class="r-stretch" data-src="<%- question.image %>">
            <%_ } -%>
            <%_ if (question.caption) { -%>
                <p class="caption"><%= question.caption %></p>
            <%_ } -%>
            <%_ if (isAnswer) { -%>
                <p class="fragment answer" data-fragment-index="1"><%= question.answer %></p>
            <%_ } -%>
            <%_ if (question.source) { -%>
                <p class="source"><%= question.source %></p>
            <%_ } -%>
        </section>
