<section data-markdown data-category-number="<%= question.category_number %>" data-question-number="<%= question.question_number %>">
        <script type="text/template">
<%_ if (question.title) { -%>
## <%= question.title %>
<%_ } -%>
<%- question.markdown %>
<%_ if (isAnswer) { -%>
<%= question.answer %> <!-- .element: class="fragment answer" -->
<%_ } -%>
        </script>
</section>
