<section data-markdown>
        <script type="text/template">
<%_ if (!(config.display_question_numbers === false)) { -%>
<%= question.category_number %>.<%= question.question_number %> <!-- .element: class="question_number" -->
<%_ } -%>
<%_ if (question.title) { -%>
## <%= question.title %>
<%_ } -%>
<%- question.markdown %>
<%_ if (isAnswer) { -%>
<%= question.answer %> <!-- .element: class="fragment answer" -->
<%_ } -%>
        </script>
</section>
