<html>
<head>
    <title><%= config.title %></title>
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/theme/black.css">
    <style>
        .reveal ol { list-style-type: upper-alpha; }
        .answer { color: red }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <%_ questions.forEach(function(question){ -%>
            <%_ if (question.type === 'title') { -%>
<%- include('title', { question }); %>
            <%_ } -%>
            <%_ if (question.type === 'text') { -%>
<%- include('questions/text', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'image') { -%>
<%- include('questions/image', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'markdown') { -%>
<%- include('questions/markdown', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'audio') { -%>
<%- include('questions/audio', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'video') { -%>
<%- include('questions/video', { question, isAnswer }); %>
            <%_ } -%>
        <%_ }); -%>
    </div>
</div>
<script src="../node_modules/reveal.js/dist/reveal.js"></script>
<script src="../node_modules/reveal.js/plugin/markdown/markdown.js"></script>
<script>
    Reveal.initialize({
        controls: false,
        progress: false,
        center: true,
        hash: true,
        keyboard: true,
        plugins: [ RevealMarkdown ]
    });
</script>
</body>
</html>
