<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= config.title %></title>
    <link rel="stylesheet" href="<%= config.revealjs_path %>/dist/reveal.css">
    <link rel="stylesheet" href="<%= config.revealjs_path %>/dist/theme/<%= config.revealjs_theme %>.css">
    <%_ if (config.custom_css) { -%>
    <style>
<%- config.custom_css %>
    </style>
    <%_ } -%>
</head>
<body>
<div id="question_number"></div>
<div class="reveal">
    <div class="slides">
        <%_ questions.forEach(function(question){ -%>
            <%_ if (question.type === 'title') { -%>
<%- include('title', { question }); %>
            <%_ } -%>
            <%_ if (question.type === 'text') { -%>
<%- include('questions/text', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'image') { -%>
<%- include('questions/image', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'markdown') { -%>
<%- include('questions/markdown', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'audio') { -%>
<%- include('questions/audio', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'video') { -%>
<%- include('questions/video', { question, isAnswer }); %>
            <%_ } -%>
        <%_ }); -%>
    </div>
</div>
<script src="<%= config.revealjs_path %>/dist/reveal.js"></script>
<script src="<%= config.revealjs_path %>/plugin/markdown/markdown.js"></script>
<script>
    Reveal.initialize({
        controls: false,
        progress: false,
        center: true,
        hash: true,
        keyboard: true,
        plugins: [ RevealMarkdown ]
    });
    const questionNumberDiv = document.querySelector("#question_number");
    Reveal.on( 'slidechanged', event => {
        const data = event.currentSlide.dataset;
        if ('categoryNumber' in data && 'questionNumber' in data) {
            questionNumberDiv.innerHTML = `${data.categoryNumber}.${data.questionNumber}`;
        } else if ('categoryNumber' in data && data.categoryNumber !== "") {
            questionNumberDiv.innerHTML = `${data.categoryNumber}`;
        } else {
            questionNumberDiv.innerHTML = '';
        }
    } );
</script>
</body>
</html>
