<%_ if (question.hasOwnProperty('markdown') && question.markdown !== null) { -%>
<section data-markdown>
    <script type="text/template">
<%_ if (question.title) { -%>
## <%= question.title %>
<%_ } -%>
<%- question.markdown %>
    </script>
</section>
<%_ } else { -%>
        <section>
            <%_ if (question.title) { -%>
                <h2><%= question.title %></h2>
            <%_ } -%>
            <%_ if (question.image) { -%>
                <img data-src="<%- question.image %>">
            <%_ } -%>
            <%_ if (question.caption) { -%>
                <p class="caption"><%= question.caption %></p>
            <%_ } -%>
        </section>
<%_ } -%>
